<div class="container">
    <div class="container-wrapper">
      <div class="title-container">
        <h3 class="title">Hey! How can we assist you today?</h3>
        <h5 class="text-center pricing-table-subtitle mb-5">Our customer support team will respond within 24hrs!</h5>
      </div>
      <div class="buttons-container">
        <div class="dropdown show">
            <button  (click)="onRequestBugOrFeature()" class="btn btn-primary results-button report-bug-button" type="button" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Report a Bug
            </button>
        </div>
        <div class="dropdown show">
            <button  (click)="onRequestBugOrFeature()" class="btn btn-secondary request-feature-button" type="button" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Request a New Feature
            </button>
        </div>
      </div>
    </div>
  </div>