<div class="parent">
    <div>
        <h1>Admin Dashboard</h1>
    </div>
    <div class="button-container add-new-influencers">
        <div>
            <span class="file-upload-title">CLEANUP DB INFLUENCERS W/O EMAILS:</span>
        </div>
        <div>
            <input (change)="onFileSelected($event, 'Update DB')" #fileInput type="file">
        </div>
    </div>
    <!--
    <div class="button-container add-new-influencers">
        <div>
            <span class="file-upload-title">Update DB With Growman Emails:</span>
        </div>
        <div>
            <input (change)="onFileSelected($event, 'Update DB Emails')" #fileInput type="file">
        </div>
    </div>
    <div class="button-container add-new-influencers">
        <div>
            <span class="file-upload-title">Update Engagement Rates in DB:</span>
        </div>
        <div>
            <input (change)="onFileSelected($event, 'Update Engagement Rates')" #fileInput type="file">
        </div>
    </div>
    <div class="button-container add-new-influencers">
        <div>
            <span class="file-upload-title">Update Bio Emails in DB:</span>
        </div>
        <div>
            <input (change)="onFileSelected($event, 'Update Bio Emails')" #fileInput type="file">
        </div>
    </div>
-->
    <!--
    <div class="button-container add-new-influencers">
        <div>
            <span class="file-upload-title">Pull Possible Emails from DB:</span>
        </div>
        <div>
            <button (click)="pullPossibleEmails()">Pull Emails</button>
        </div>
    </div>
-->
    <div class="button-container add-new-influencers">
        <div>
            <span class="file-upload-title">Clean Lead List:</span>
        </div>
        <div>
            <input (change)="onFileSelected($event, 'Clean List')" #fileInput type="file">
        </div>
    </div>
<!--
    <div class="button-container add-new-influencers">
        <div>
            <span class="file-upload-title">Extract Urls for Apify:</span>
        </div>
        <div>
            <input (change)="extractUsernames($event)" #fileInput type="file">
        </div>
    </div>
-->
    <div class="button-container add-new-influencers">
        <div>
            <span class="file-upload-title">Add New Dating Coaches to DB:</span>
        </div>
        <div>
            <input (change)="onFileSelected($event, 'Dating')"  #fileInput type="file">
        </div>
    </div>
<!--
    <div class="button-container add-new-influencers">
        <div>
            <span class="file-upload-title">Add New Fitness Coaches to DB:</span>
        </div>
        <div>
            <input (change)="onFileSelected($event, 'Fitness')"  #fileInput type="file">
        </div>
    </div>
-->
    <div class="button-container add-new-influencers">
        <div>
            <span class="file-upload-title">Add New Real Estate Coaches to DB:</span>
        </div>
        <div>
            <input (change)="onFileSelected($event, 'Real Estate')"  #fileInput type="file">
        </div>
    </div>
    <div class="button-container add-new-influencers">
        <div>
            <span class="file-upload-title">Add New Health & Wellness Coaches to DB:</span>
        </div>
        <div>
            <input (change)="onFileSelected($event, 'Health & Wellness')"  #fileInput type="file">
        </div>
    </div>
    <div class="button-container add-new-influencers">
        <div>
            <span class="file-upload-title">Add New Sales Coaches to DB:</span>
        </div>
        <div>
            <input (change)="onFileSelected($event, 'Sales')"  #fileInput type="file">
        </div>
    </div>

    <div class="button-container add-new-influencers">
        <div>
            <span class="file-upload-title">Extract Usernames for Apify:</span>
        </div>
        <div>
            <input (change)="extractUsernames($event)" #fileInput type="file">
        </div>
    </div>
</div>
